<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/main/home">✅ Task Manager</a>
    <div class="navbar-nav ms-auto flex-row gap-3">
      <a routerLink="/main/home" routerLinkActive="fw-bold"
         class="nav-link text-white">Home</a>
      <a routerLink="/main/add-task" routerLinkActive="fw-bold"
         class="nav-link text-white">Add Task</a>
      <a routerLink="/main/tasks" routerLinkActive="fw-bold"
         class="nav-link text-white">Tasks</a>
    </div>
  </div>
</nav>
